# Arquivos de configuração do Android Studio
*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml

# Arquivos do sistema
.DS_Store

# Diretórios de build
/build
/captures
.externalNativeBuild
.cxx

# Arquivos locais
local.properties

